body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
  }
main section {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}

main section h2{
    font-size: 25px;
    color: black;
    font-style: oblique;
}

#calendario{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 30px;
    padding: 20px;
    background-color: #eafaf1;
}

button {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.crear {
  background-color: #007bff;
  border-radius: 25px;
  padding: 10px 15px;
  color: #f0f2f5;
}

.crear:hover{
  background-color: #91bff0;
  transform: scale(1.05);
  color: black;
}

.card {
  border: 1px solid #007bff;
  padding: 10px;
  border-radius: 8px;
  width: 20em;
  height: 30em;
  background-color: cornflowerblue;
  align-items: center;
}

img {
  padding: 5px 8px 5px 8px;
  width: 100%;
  height: 60%;
  border: 1px solid #007bff;
  border-radius: 25px;
}